<a href="https://colab.research.google.com/github/marcelopaludetto/aulao-datascience/blob/main/aulaoDataScience_atualizado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Extraindo informações do Edutech

In [2]:
import pandas as pd

In [3]:
filenames = ['https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%201.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%202.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%203.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%204.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%205.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%206.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%207.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%208.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%209.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%2010.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%2011.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%2012.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%2013.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%2014.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%2015.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%2016.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%2017.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%2018.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%2019.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%2020.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%2021.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%2022.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%2023.csv',
             'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/SEED%20-%20Semana%2024.csv']


dados = [pd.read_csv(f) for f in filenames]

In [4]:
dados[0].columns

Index(['data', 'data de último acesso', 'id', 'email', 'cargo', 'teamId',
       'turmaTrilha', 'atividadesFeitas', 'atividadesCorretas',
       'atividadesGerais'],
      dtype='object')

In [5]:
for f in range(24):
 dados[f] = dados[f].drop(columns=['email'])

In [6]:
dados[0].head(10)

         data data de último acesso  ...  atividadesCorretas atividadesGerais
0  2021-04-19            2021-05-05  ...                 126            813.0
1  2021-04-19            2021-05-03  ...                 122            542.0
2  2021-04-19            2021-04-26  ...                  97            393.0
3  2021-04-19            2021-05-03  ...                  83            269.0
4  2021-04-19            2021-05-04  ...                  81            309.0
5  2021-04-19            2021-04-25  ...                  73            320.0
6  2021-04-19            2021-05-05  ...                  70            476.0
7  2021-04-19            2021-05-06  ...                  68            431.0
8  2021-04-19            2021-04-20  ...                  67            364.0
9  2021-04-19            2021-05-04  ...                  66            266.0

[10 rows x 9 columns]

In [7]:
renomear = {'data' : 'data', 'data de último acesso' : 'data_ultimo_acesso', 'id' : 'id', 'cargo':'cargo', 'teamId':'teamId',
       'turmaTrilha':'turmaTrilha', 'atividadesFeitas':'atividadesFeitas', 'atividadesCorretas':'atividadesCorretas',
       'atividadesGerais': 'atividadesGerais'}

In [8]:
for f in range(24):
  dados[f] = dados[f].rename(columns = renomear)

dados[23].head()

         data data_ultimo_acesso  ...  atividadesCorretas atividadesGerais
0  2021-09-27         2021-09-28  ...                 159            610.0
1  2021-09-27         2021-09-28  ...                 104            448.0
2  2021-09-27         2021-09-27  ...                  89            313.0
3  2021-09-27         2021-09-28  ...                  84            309.0
4  2021-09-27         2021-09-28  ...                  84            340.0

[5 rows x 9 columns]

In [11]:
for f in range(24):
  print('Na {} semana, o número de estudantes matriculados no Edutech é de {}'.format(f+1,dados[f].data.count()))

Na 1 semana, o número de estudantes matriculados no Edutech é de 67487
Na 2 semana, o número de estudantes matriculados no Edutech é de 67487
Na 3 semana, o número de estudantes matriculados no Edutech é de 67487
Na 4 semana, o número de estudantes matriculados no Edutech é de 67487
Na 5 semana, o número de estudantes matriculados no Edutech é de 67488
Na 6 semana, o número de estudantes matriculados no Edutech é de 67745
Na 7 semana, o número de estudantes matriculados no Edutech é de 70776
Na 8 semana, o número de estudantes matriculados no Edutech é de 70842
Na 9 semana, o número de estudantes matriculados no Edutech é de 47923
Na 10 semana, o número de estudantes matriculados no Edutech é de 48010
Na 11 semana, o número de estudantes matriculados no Edutech é de 48008
Na 12 semana, o número de estudantes matriculados no Edutech é de 48511
Na 13 semana, o número de estudantes matriculados no Edutech é de 48512
Na 14 semana, o número de estudantes matriculados no Edutech é de 48719
Na 15 semana, o número de estudantes matriculados no Edutech é de 46581
Na 16 semana, o número de estudantes matriculados no Edutech é de 46704
Na 17 semana, o número de estudantes matriculados no Edutech é de 46668
Na 18 semana, o número de estudantes matriculados no Edutech é de 34791
Na 19 semana, o número de estudantes matriculados no Edutech é de 38232
Na 20 semana, o número de estudantes matriculados no Edutech é de 40717
Na 21 semana, o número de estudantes matriculados no Edutech é de 41896
Na 22 semana, o número de estudantes matriculados no Edutech é de 41902
Na 23 semana, o número de estudantes matriculados no Edutech é de 42268
Na 24 semana, o número de estudantes matriculados no Edutech é de 42268

In [10]:
print('Na semana 7 foram incluidos {} estudantes no programa Edutech'.format(dadoSemana07.data.count() - dadoSemana06.data.count()))

NameError: ignored

In [ ]:
print('Na 9 semana, foram excluídos {} estudantes do programa Edutech'.format(dadoSemana08.data.count() - dadoSemana09.data.count()))

## Coletando o número de alunos ativos

In [ ]:
dadoSemana01['atividadesGerais'].notnull()
dadoSemana02['atividadesGerais'].notnull()

In [ ]:
dadosAtivos01 = dadoSemana01[dadoSemana01['atividadesGerais'].notnull()]
dadosAtivos02 = dadoSemana02[dadoSemana02['atividadesGerais'].notnull()]
dadosAtivos03 = dadoSemana03[dadoSemana03['atividadesGerais'].notnull()]
dadosAtivos04 = dadoSemana04[dadoSemana04['atividadesGerais'].notnull()]
dadosAtivos05 = dadoSemana05[dadoSemana05['atividadesGerais'].notnull()]
dadosAtivos06 = dadoSemana06[dadoSemana06['atividadesGerais'].notnull()]
dadosAtivos07 = dadoSemana07[dadoSemana07['atividadesGerais'].notnull()]
dadosAtivos08 = dadoSemana08[dadoSemana08['atividadesGerais'].notnull()]
dadosAtivos09 = dadoSemana09[dadoSemana09['atividadesGerais'].notnull()]
dadosAtivos10 = dadoSemana10[dadoSemana10['atividadesGerais'].notnull()]
dadosAtivos11 = dadoSemana11[dadoSemana11['atividadesGerais'].notnull()]

In [ ]:
print('Na 1 semana, o número de estudantes ativos no Edutech é de {}'.format(dadosAtivos01.data.count()))
print('Na 2 semana, o número de estudantes ativos no Edutech é de {}'.format(dadosAtivos02.data.count()))
print('Na 3 semana, o número de estudantes ativos no Edutech é de {}'.format(dadosAtivos03.data.count()))
print('Na 4 semana, o número de estudantes ativos no Edutech é de {}'.format(dadosAtivos04.data.count()))
print('Na 5 semana, o número de estudantes ativos no Edutech é de {}'.format(dadosAtivos05.data.count()))
print('Na 6 semana, o número de estudantes ativos no Edutech é de {}'.format(dadosAtivos06.data.count()))
print('Na 7 semana, o número de estudantes ativos no Edutech é de {}'.format(dadosAtivos07.data.count()))
print('Na 8 semana, o número de estudantes ativos no Edutech é de {}'.format(dadosAtivos08.data.count()))
print('Na 9 semana, o número de estudantes ativos no Edutech é de {}'.format(dadosAtivos09.data.count()))
print('Na 10 semana, o número de estudantes ativos no Edutech é de {}'.format(dadosAtivos10.data.count()))
print('Na 11 semana, o número de estudantes ativos no Edutech é de {}'.format(dadosAtivos11.data.count()))

In [ ]:
percentual01 = dadoSemana01.atividadesGerais.count()/dadoSemana01.data.count() * 100
percentual02 = dadoSemana02.atividadesGerais.count()/dadoSemana02.data.count() * 100
percentual03 = dadoSemana03.atividadesGerais.count()/dadoSemana03.data.count() * 100
percentual04 = dadoSemana04.atividadesGerais.count()/dadoSemana04.data.count() * 100
percentual05 = dadoSemana05.atividadesGerais.count()/dadoSemana05.data.count() * 100
percentual06 = dadoSemana06.atividadesGerais.count()/dadoSemana06.data.count() * 100
percentual07 = dadoSemana07.atividadesGerais.count()/dadoSemana07.data.count() * 100
percentual08 = dadoSemana08.atividadesGerais.count()/dadoSemana08.data.count() * 100
percentual09 = dadoSemana09.atividadesGerais.count()/dadoSemana09.data.count() * 100
percentual10 = dadoSemana10.atividadesGerais.count()/dadoSemana10.data.count() * 100
percentual11 = dadoSemana11.atividadesGerais.count()/dadoSemana11.data.count() * 100


print('Na semana 01 tivemos a porcentagem de alunos ativos no Edutech é de {} %'.format(percentual01.round(2)))
print('Na semana 02 tivemos a porcentagem de alunos ativos no Edutech é de {} %'.format(percentual02.round(2)))
print('Na semana 03 tivemos a porcentagem de alunos ativos no Edutech é de {} %'.format(percentual03.round(2)))
print('Na semana 04 tivemos a porcentagem de alunos ativos no Edutech é de {} %'.format(percentual04.round(2)))
print('Na semana 05 tivemos a porcentagem de alunos ativos no Edutech é de {} %'.format(percentual05.round(2)))
print('Na semana 06 tivemos a porcentagem de alunos ativos no Edutech é de {} %'.format(percentual06.round(2)))
print('Na semana 07 tivemos a porcentagem de alunos ativos no Edutech é de {} %'.format(percentual07.round(2)))
print('Na semana 08 tivemos a porcentagem de alunos ativos no Edutech é de {} %'.format(percentual08.round(2)))
print('Na semana 09 tivemos a porcentagem de alunos ativos no Edutech é de {} %'.format(percentual09.round(2)))
print('Na semana 10 tivemos a porcentagem de alunos ativos no Edutech é de {} %'.format(percentual10.round(2)))
print('Na semana 11 tivemos a porcentagem de alunos ativos no Edutech é de {} %'.format(percentual11.round(2)))

# Gráficos

In [ ]:
import seaborn as sns

In [ ]:
plt = sns.scatterplot(x='data_ultimo_acesso',y='atividadesFeitas', data=dados01)
plt.figure.set_size_inches(24,6)

In [ ]:
dadosAtivos01 = dados01.query("atividadesGerais > 0")
dadosAtivos02 = dados02.query("atividadesGerais > 0")

In [ ]:
plt = sns.scatterplot(x='data_ultimo_acesso',y='atividadesFeitas', data=dadosAtivos01)
plt.figure.set_size_inches(24,6)

In [ ]:
plt = sns.scatterplot(x='data_ultimo_acesso',y='atividadesFeitas', data=dadosAtivos02)
plt.figure.set_size_inches(24,6)

In [ ]:
plt = sns.boxplot(x='data_ultimo_acesso',y='atividadesFeitas', data=dadosAtivos01)
plt.figure.set_size_inches(24,6)

In [ ]:
plt = sns.boxplot(x='data_ultimo_acesso',y='atividadesFeitas', data=dadosAtivos02)
plt.figure.set_size_inches(24,6)

In [ ]:
dadosAtivos01 = dadosAtivos01.sort_values(by = ['data_ultimo_acesso'])

In [ ]:
dadosAtivos02 = dadosAtivos02.sort_values(by = ['data_ultimo_acesso'])

In [ ]:
plt = sns.relplot(x='data_ultimo_acesso',y='atividadesFeitas', data=dadosAtivos01)
plt.figure.set_size_inches(24,6)

In [ ]:
plt = sns.relplot(x='data_ultimo_acesso',y='atividadesFeitas', data=dadosAtivos02)
plt.figure.set_size_inches(24,6)

In [ ]:
selecao = dadosAtivos02['data_ultimo_acesso'] == '2021-05-04'
dia04maioSemana2 = dadosAtivos02[selecao]
dia04maioSemana2

In [ ]:
selecao = dadosAtivos01['data_ultimo_acesso'] == '2021-05-04'
dia04maioSemana1 = dadosAtivos01[selecao]
dia04maioSemana1

# Análise de Frequências