<a href="https://colab.research.google.com/github/marcelopaludetto/aulao-datascience/blob/main/aulaoDataScience_atualizado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Extraindo informações do Edutech

In [27]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [28]:
filenames = [f'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados{i}.csv' for i in range(26)]           

filenames

['https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados0.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados1.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados2.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados3.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados4.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados5.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados6.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados7.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados8.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados9.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados10.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados11.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados12.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados13.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados14.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados15.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados16.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados17.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados18.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados19.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados20.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados21.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados22.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados23.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados24.csv',
 'https://raw.githubusercontent.com/marcelopaludetto/aulao-datascience/main/dados25.csv']

In [29]:
dados = [pd.read_csv(i) for i in filenames]

In [30]:
dados[0].columns

Index(['data', 'data de último acesso', 'id', 'turmaTrilha',
       'atividadesFeitas', 'atividadesCorretas', 'atividadesGerais'],
      dtype='object')

In [31]:
dados[0].head(10)

         data data de último acesso  ...  atividadesCorretas atividadesGerais
0  2021-04-19            2021-05-05  ...                 126            813.0
1  2021-04-19            2021-05-03  ...                 122            542.0
2  2021-04-19            2021-04-26  ...                  97            393.0
3  2021-04-19            2021-05-03  ...                  83            269.0
4  2021-04-19            2021-05-04  ...                  81            309.0
5  2021-04-19            2021-04-25  ...                  73            320.0
6  2021-04-19            2021-05-05  ...                  70            476.0
7  2021-04-19            2021-05-06  ...                  68            431.0
8  2021-04-19            2021-04-20  ...                  67            364.0
9  2021-04-19            2021-05-04  ...                  66            266.0

[10 rows x 7 columns]

In [32]:
index = dados[0].turmaTrilha.str.find(',') > 0

In [33]:
index

0        False
1        False
2        False
3         True
4        False
         ...
67482    False
67483    False
67484    False
67485    False
67486    False
Name: turmaTrilha, Length: 67487, dtype: bool

In [34]:
index.value_counts()

False    67022
True       465
Name: turmaTrilha, dtype: int64

In [35]:
 dados[0].turmaTrilha[3].split(',')[1]

'22400112'

In [36]:
for j in range(26):
  index = dados[j].turmaTrilha.str.find(',') > 0
  for i in range(index.count()):
    if (index[i] == True):
      dados[j].turmaTrilha[i] = dados[j].turmaTrilha[i].split(',')[1]

In [37]:
dados[9].head(100)

          data data de último acesso  ...  atividadesCorretas atividadesGerais
0   2021-06-21            2021-06-24  ...                 161            683.0
1   2021-06-21            2021-06-24  ...                 143            579.0
2   2021-06-21            2021-06-22  ...                 140            542.0
3   2021-06-21            2021-06-22  ...                 131            606.0
4   2021-06-21            2021-06-24  ...                 117            466.0
..         ...                   ...  ...                 ...              ...
95  2021-06-21            2021-06-24  ...                  29             93.0
96  2021-06-21            2021-06-24  ...                  29            177.0
97  2021-06-21            2021-06-25  ...                  29             92.0
98  2021-06-21            2021-06-23  ...                  29            108.0
99  2021-06-21            2021-06-24  ...                  29            135.0

[100 rows x 7 columns]

In [38]:
renomear = {'data' : 'data',
            'data de último acesso' : 'data_ultimo_acesso',
            'id' : 'id',
            'turmaTrilha':'turmaTrilha',
            'atividadesFeitas':'atividadesFeitas',
            'atividadesCorretas':'atividadesCorretas',
            'atividadesGerais': 'atividadesGerais'}

In [39]:
for f in range(26):
  dados[f] = dados[f].rename(columns=renomear)

dados[23].head()

         data data_ultimo_acesso  ...  atividadesCorretas atividadesGerais
0  2021-09-27         2021-09-30  ...                 221            856.0
1  2021-09-27         2021-09-30  ...                 211            868.0
2  2021-09-27         2021-10-01  ...                 197            868.0
3  2021-09-27         2021-10-03  ...                 172            703.0
4  2021-09-27         2021-10-02  ...                 161            666.0

[5 rows x 7 columns]

# Número de estudantes no Edutech

In [40]:
EstudantesEdutech = [];
for f in range(26):
  print('Na {} semana, estudantes = {}'.format(f+1,dados[f].data.count()))
  EstudantesEdutech.append(dados[f].data.count())

Na 1 semana, estudantes = 67487
Na 2 semana, estudantes = 67487
Na 3 semana, estudantes = 67487
Na 4 semana, estudantes = 67487
Na 5 semana, estudantes = 67488
Na 6 semana, estudantes = 67745
Na 7 semana, estudantes = 70776
Na 8 semana, estudantes = 70842
Na 9 semana, estudantes = 47923
Na 10 semana, estudantes = 48010
Na 11 semana, estudantes = 48008
Na 12 semana, estudantes = 48511
Na 13 semana, estudantes = 48512
Na 14 semana, estudantes = 48719
Na 15 semana, estudantes = 46581
Na 16 semana, estudantes = 46704
Na 17 semana, estudantes = 46668
Na 18 semana, estudantes = 34791
Na 19 semana, estudantes = 38232
Na 20 semana, estudantes = 40717
Na 21 semana, estudantes = 41896
Na 22 semana, estudantes = 41902
Na 23 semana, estudantes = 42268
Na 24 semana, estudantes = 42548
Na 25 semana, estudantes = 42668
Na 26 semana, estudantes = 42415

In [41]:
EstudantesEdutech

[67487,
 67487,
 67487,
 67487,
 67488,
 67745,
 70776,
 70842,
 47923,
 48010,
 48008,
 48511,
 48512,
 48719,
 46581,
 46704,
 46668,
 34791,
 38232,
 40717,
 41896,
 41902,
 42268,
 42548,
 42668,
 42415]

In [42]:
print('Na semana {} foram incluidos {} estudantes no programa Edutech'.format(7,
                                                                              dados[6].data.count() - dados[5].data.count()))

Na semana 7 foram incluidos 3031 estudantes no programa Edutech

In [43]:
print('Na 9 semana, foram excluídos {} estudantes do programa Edutech'.format(dados[7].data.count() - dados[8].data.count()))

Na 9 semana, foram excluídos 22919 estudantes do programa Edutech

# Criar dias da semana no último acesso

In [44]:
for i in range(26):
  dia_da_semana = [];
  for f in range(dados[i].data_ultimo_acesso.count()):
      temp = pd.Timestamp(dados[i].data_ultimo_acesso[f])
      dia_da_semana.append(temp.day_name())
  dados[i]['dia_da_semana'] = dia_da_semana

In [45]:
dados[1].head()

         data data_ultimo_acesso  ...  atividadesGerais dia_da_semana
0  2021-04-26         2021-05-05  ...             699.0     Wednesday
1  2021-04-26         2021-05-06  ...             726.0      Thursday
2  2021-04-26         2021-04-28  ...             402.0     Wednesday
3  2021-04-26         2021-04-26  ...             394.0        Monday
4  2021-04-26         2021-05-05  ...             464.0     Wednesday

[5 rows x 8 columns]

## Traduzir os dias da semana

In [46]:
dados[1].dia_da_semana.unique()

array(['Wednesday', 'Thursday', 'Monday', 'Sunday', 'Saturday', 'Tuesday',
       'Friday'], dtype=object)

In [47]:
renomear_dia = {
    'Wednesday' : 'Quarta',
    'Thursday' : 'Quinta',
    'Monday' : 'Segunda',
    'Sunday' : 'Domingo',
    'Saturday' : 'Sabado',
    'Tuesday' : 'Terca',
    'Friday' : 'Sexta'
}

In [48]:
for i in range(26):
  dados[i].dia_da_semana = dados[i].dia_da_semana.map(renomear_dia)

dados[1].head()

         data data_ultimo_acesso  ...  atividadesGerais dia_da_semana
0  2021-04-26         2021-05-05  ...             699.0        Quarta
1  2021-04-26         2021-05-06  ...             726.0        Quinta
2  2021-04-26         2021-04-28  ...             402.0        Quarta
3  2021-04-26         2021-04-26  ...             394.0       Segunda
4  2021-04-26         2021-05-05  ...             464.0        Quarta

[5 rows x 8 columns]

In [49]:
dados[2].dia_da_semana.unique()

array(['Sexta', 'Domingo', 'Quinta', 'Terca', 'Segunda', 'Sabado',
       'Quarta'], dtype=object)

## Coletando o número de alunos ativos

In [50]:
for i in range(26):
  print('Na {} semana, o número de estudantes ativos no Edutech é de {}'.format(i+1,dados[i][dados[i]['atividadesGerais'].notnull()].data.count()))

Na 1 semana, o número de estudantes ativos no Edutech é de 6358
Na 2 semana, o número de estudantes ativos no Edutech é de 6619
Na 3 semana, o número de estudantes ativos no Edutech é de 6664
Na 4 semana, o número de estudantes ativos no Edutech é de 6696
Na 5 semana, o número de estudantes ativos no Edutech é de 6485
Na 6 semana, o número de estudantes ativos no Edutech é de 6879
Na 7 semana, o número de estudantes ativos no Edutech é de 5592
Na 8 semana, o número de estudantes ativos no Edutech é de 6439
Na 9 semana, o número de estudantes ativos no Edutech é de 6538
Na 10 semana, o número de estudantes ativos no Edutech é de 6352
Na 11 semana, o número de estudantes ativos no Edutech é de 5395
Na 12 semana, o número de estudantes ativos no Edutech é de 4297
Na 13 semana, o número de estudantes ativos no Edutech é de 1401
Na 14 semana, o número de estudantes ativos no Edutech é de 3676
Na 15 semana, o número de estudantes ativos no Edutech é de 5321
Na 16 semana, o número de estudantes ativos no Edutech é de 5499
Na 17 semana, o número de estudantes ativos no Edutech é de 5457
Na 18 semana, o número de estudantes ativos no Edutech é de 5424
Na 19 semana, o número de estudantes ativos no Edutech é de 5689
Na 20 semana, o número de estudantes ativos no Edutech é de 6254
Na 21 semana, o número de estudantes ativos no Edutech é de 5367
Na 22 semana, o número de estudantes ativos no Edutech é de 6964
Na 23 semana, o número de estudantes ativos no Edutech é de 7349
Na 24 semana, o número de estudantes ativos no Edutech é de 7581
Na 25 semana, o número de estudantes ativos no Edutech é de 7520
Na 26 semana, o número de estudantes ativos no Edutech é de 5011

In [51]:
for i in range(26):
  print('Na semana {} tivemos {} % de estudantes ativos.'.format(i+1,(dados[i][dados[i]['atividadesGerais'].notnull()].data.count()/dados[i].data.count()*100).round(2)))

Na semana 1 tivemos 9.42 % de estudantes ativos.
Na semana 2 tivemos 9.81 % de estudantes ativos.
Na semana 3 tivemos 9.87 % de estudantes ativos.
Na semana 4 tivemos 9.92 % de estudantes ativos.
Na semana 5 tivemos 9.61 % de estudantes ativos.
Na semana 6 tivemos 10.15 % de estudantes ativos.
Na semana 7 tivemos 7.9 % de estudantes ativos.
Na semana 8 tivemos 9.09 % de estudantes ativos.
Na semana 9 tivemos 13.64 % de estudantes ativos.
Na semana 10 tivemos 13.23 % de estudantes ativos.
Na semana 11 tivemos 11.24 % de estudantes ativos.
Na semana 12 tivemos 8.86 % de estudantes ativos.
Na semana 13 tivemos 2.89 % de estudantes ativos.
Na semana 14 tivemos 7.55 % de estudantes ativos.
Na semana 15 tivemos 11.42 % de estudantes ativos.
Na semana 16 tivemos 11.77 % de estudantes ativos.
Na semana 17 tivemos 11.69 % de estudantes ativos.
Na semana 18 tivemos 15.59 % de estudantes ativos.
Na semana 19 tivemos 14.88 % de estudantes ativos.
Na semana 20 tivemos 15.36 % de estudantes ativos.
Na semana 21 tivemos 12.81 % de estudantes ativos.
Na semana 22 tivemos 16.62 % de estudantes ativos.
Na semana 23 tivemos 17.39 % de estudantes ativos.
Na semana 24 tivemos 17.82 % de estudantes ativos.
Na semana 25 tivemos 17.62 % de estudantes ativos.
Na semana 26 tivemos 11.81 % de estudantes ativos.

# Classificar os estudantes em trilhas

In [52]:
len('11400513')

8

In [53]:
dados[23]['turmaTrilha'][40]

'1686370'

In [54]:
dados[23]['turmaTrilha'][40][0:2]

'16'

In [55]:
for i in range(26):
  dados[i].turmaTrilha.replace('\xa0','')

crtl + shift + L

In [ ]:
for j in range(26):
  dados[j]['Trilha'] = 0
  for i in range(dados[j].data.count()):
    if len(dados[j]['turmaTrilha'][i]) == 7:
      dados[j]['Trilha'][i] = 'ETI'
    if len(dados[j]['turmaTrilha'][i]) == 8:
      if dados[j]['turmaTrilha'][i][0:2] == '11':
        dados[j]['Trilha'][i] = 'Games1'
      if dados[j]['turmaTrilha'][i][0:2] == '12':
        dados[j]['Trilha'][i] = 'Games2'     
      if dados[j]['turmaTrilha'][i][0:2] == '21':
        dados[j]['Trilha'][i] = 'FrontEnd'
      if dados[j]['turmaTrilha'][i][0:2] == '22':
        dados[j]['Trilha'][i] = 'Mobile'    
      if dados[j]['turmaTrilha'][i][0:2] == '23':
        dados[j]['Trilha'][i] = 'DataScience' 
      if dados[j]['turmaTrilha'][i][0:2] == '24':
        dados[j]['Trilha'][i] = 'Java'     
      if dados[j]['turmaTrilha'][i][0:2] == '25':
        dados[j]['Trilha'][i] = 'Python'

In [ ]:
dados[0]

In [ ]:
dados[24].Trilha.value_counts()

# Analisando o número de atividades feitas por semana

In [ ]:
alunosAtivosDaSemana = [];
for i in range(26):
  alunosAtivosDaSemana.append(dados[i].query("atividadesGerais > 0"))

In [ ]:
for i in range(26):
  print('Na semana {} foram realidas {} atividades'.format(i+1,sum(alunosAtivosDaSemana[i].atividadesFeitas)))

In [ ]:
grafico = [];
for i in range(26):
  grafico.append(sum(alunosAtivosDaSemana[i].atividadesFeitas))

In [ ]:
grafico1 = pd.DataFrame({'atividades feitas por semana' : grafico})
grafico1.head()
grafico1.plot(kind ='bar',figsize = (20,6))

# Número de estudantes ativos no Edutech

In [ ]:
alunosAtivosDaSemana[1].data.count()

# Média de atividades realizadas por alunos de cada Trilha por Semana

In [ ]:
alunosETIAtivos = [];
alunosETI=[];
for i in range(26):
  alunosETIAtivos.append(alunosAtivosDaSemana[i].query("Trilha == 'ETI'"))
  alunosETI.append(alunosETIAtivos[i].data.count())

In [ ]:
alunosGames1Ativos = [];
alunosGames1=[];
for i in range(26):
  alunosGames1Ativos.append(alunosAtivosDaSemana[i].query("Trilha == 'Games1'"))
  alunosGames1.append(alunosGames1Ativos[i].data.count())

In [ ]:
alunosGames2Ativos = [];
alunosGames2=[];
for i in range(26):
  alunosGames2Ativos.append(alunosAtivosDaSemana[i].query("Trilha == 'Games2'"))
  alunosGames2.append(alunosGames2Ativos[i].data.count())

In [ ]:
alunosFrontEndAtivos = [];
alunosFrontEnd=[];
for i in range(26):
  alunosFrontEndAtivos.append(alunosAtivosDaSemana[i].query("Trilha == 'FrontEnd'"))
  alunosFrontEnd.append(alunosFrontEndAtivos[i].data.count())

In [ ]:
alunosMobileAtivos = [];
alunosMobile=[];
for i in range(26):
  alunosMobileAtivos.append(alunosAtivosDaSemana[i].query("Trilha == 'Mobile'"))
  alunosMobile.append(alunosMobileAtivos[i].data.count())

In [ ]:
alunosDataScienceAtivos = [];
alunosDataScience=[];
for i in range(26):
  alunosDataScienceAtivos.append(alunosAtivosDaSemana[i].query("Trilha == 'DataScience'"))
  alunosDataScience.append(alunosDataScienceAtivos[i].data.count())

In [ ]:
alunosJavaAtivos = [];
alunosJava=[];
for i in range(26):
  alunosJavaAtivos.append(alunosAtivosDaSemana[i].query("Trilha == 'Java'"))
  alunosJava.append(alunosJavaAtivos[i].data.count())

In [ ]:
alunosPythonAtivos = [];
alunosPython=[];
for i in range(26):
  alunosPythonAtivos.append(alunosAtivosDaSemana[i].query("Trilha == 'Python'"))
  alunosPython.append(alunosPythonAtivos[i].data.count())

In [ ]:
dados[24].groupby('Trilha').mean().atividadesGerais.sort_values()

In [ ]:
teste = pd.DataFrame({'alunos_de_DataScience': alunosDataScience , 'alunos_de_FrontEnd': alunosFrontEnd,'alunos_de_Mobile': alunosMobile, 'alunos_de_Python': alunosPython, 'alunos_de_Java': alunosJava})

In [ ]:
teste.head()

In [ ]:
teste.plot(kind = 'box',
           figsize = (20,6))

# Gráficos

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

Gráfico01 - Número de estudantes inscritos no Edutech por semana

In [ ]:
t = list(range(1,27))
plt.figure(figsize=(30,6))
plt.plot(t, alunosGames1, t, alunosGames2, t, alunosFrontEnd, t, alunosMobile, t, alunosDataScience, t, alunosJava, t, alunosPython, t, alunosETI)
plt.xlabel('Semanas', fontsize=15)
plt.ylabel('Número de estudantes ativos', fontsize = 15)

plt.show()

In [ ]:
import numpy as np

In [ ]:
alunosEdutech = [];
alunosEdutech = np.sum((alunosGames1, alunosGames2, alunosFrontEnd, alunosMobile, alunosDataScience, alunosJava, alunosPython),axis=0)

alunosEdutech

In [ ]:
t = list(range(1,27))
plt.figure(figsize=(30,6))
plt.plot(t, alunosEdutech, t , alunosETI)
plt.xlabel('Semanas', fontsize=15)
plt.ylabel('Número de estudantes ativos', fontsize = 15)

plt.show()

In [ ]:
alunosAtivosDaSemana[25].dia_da_semana.value_counts().index

# Qual é o dia da semana em que os alunos mais estudam?
https://cursos.alura.com.br/course/data-science-primeiros-passos/task/49685

In [ ]:
i=24
sns.catplot(x = "dia_da_semana", data = alunosAtivosDaSemana[i], 
            kind="count",
            aspect=2,
            palette="GnBu_d",
            order = alunosAtivosDaSemana[i].dia_da_semana.value_counts().index)

# Qual é o melhor dia da semana para estudar (Games1)

In [ ]:
i=25
sns.catplot(x = "dia_da_semana", data = alunosAtivosDaSemana[i].query('Trilha == "FrontEnd"'), 
            kind="count",
            aspect=2,
            palette="GnBu_d",
            order = alunosAtivosDaSemana[i].query('Trilha == "FrontEnd"').dia_da_semana.value_counts().index)

Gráfico 02 - Número de estudantes ativos
<br>

Gráfico 04 - Número de atividades feitas por trilha (semana - semana)
<br> ETI, Games1, Games2, Front, Mobile, Data, Java e Python
<br>  **Gráfico de Barras**

In [ ]:
plt = sns.scatterplot(x='dia_da_semana',y='atividadesGerais', data=alunosAtivosDaSemana[1])
plt.figure.set_size_inches(24,6)

In [ ]:
sns.distplot(alunosDataScience)

In [ ]:
sns.distplot(alunosETI)