<a href="https://colab.research.google.com/github/marcelopaludetto/aulao-datascience/blob/main/tratamentoDosArquivos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [3]:
dados27 = pd.read_csv('/content/SEED - Semana 27.csv')

In [4]:
dados27.head()

         data data de último acesso  ...  atividadesCorretas atividadesGerais
0  2021-10-18            2021-10-22  ...                 209            839.0
1  2021-10-18            2021-10-23  ...                 195            721.0
2  2021-10-18            2021-10-22  ...                 177            673.0
3  2021-10-18            2021-10-20  ...                 176            673.0
4  2021-10-18            2021-10-23  ...                 174            678.0

[5 rows x 10 columns]

In [5]:
dados27 = dados27.drop(columns=['email','cargo','teamId'])

In [7]:
dados27.head()

         data data de último acesso  ...  atividadesCorretas atividadesGerais
0  2021-10-18            2021-10-22  ...                 209            839.0
1  2021-10-18            2021-10-23  ...                 195            721.0
2  2021-10-18            2021-10-22  ...                 177            673.0
3  2021-10-18            2021-10-20  ...                 176            673.0
4  2021-10-18            2021-10-23  ...                 174            678.0

[5 rows x 7 columns]

In [15]:
dados27.to_csv('dados27.csv', index=False, encoding='UTF-8')